/*------------------------------------------------公共class---------------------------------------*/

body {
    font-family: "Microsoft Yahei";
    margin: 0;

}

a {
    text-decoration: none;
    color: #000000;
}

ul li {
    list-style: none;
}
hr{
    background-color: #E87E04;
    border: none;
    margin: 0 auto 80px;
    width: 70px;
    height: 5px;
}

/*--------------------------------------------------------------content部分CSS------------------------*/

.content {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/*.section公共CSS*/
.section {
    width: 100%;
    min-height: 500px;
    height: 100vh;
}

/*---------------------------------------------------header------------------------------------*/
header {
    color: #2c3e50;
    background-size: cover;
    width: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;

}

header > div {
    width: 100%;
    height: 100vh;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    background: url("../Images/intro-bg.jpg") 100% 100% no-repeat;

    z-index: -1;
    -webkit-animation: all .5s;
    -o-animation: all .5s;
    animation: myfirst 2s infinite alternate;
}

/*名字叫myfirst的动画效果，主要是进行header的背景图渐变*/

@keyframes myfirst {
    from {
        opacity: 0.4;
        background: url("../Images/intro-bg.jpg") no-repeat;
        background-size: 100%;
    }
    to {
        opacity: 0.7;
        background: url("../Images/intro-bg1.jpg") no-repeat;
        background-size: 100%;

    }
}

/*header div{
    position: absolute;
    background:rgba(255,255,255,0.1);
    background: url("../Images/lufei.jpg") no-repeat;
}*/
header h1 {
    font-family: cursive, 'Lato', sans-serif;
    font-size: 3rem;
    padding: 30vh 0 0;
}

header h2 {
    font-weight: 100;
    margin-bottom: 40px;
}

header > a {
    background-color: #fff;
    color: #000000;
    display: inline-block;
    font-weight: 500;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid;
    line-height: 50px;
    margin: 0 10px;
}

header a.gyw {
    background-color: #2c3e50;
    color: #ffffff;
}

nav {
    width: 100%;
    background-color: #2c3e50;
    /*position: fixed;*/
}

nav > a {
    display: inline-block;
    height: 70px;
    color: #f5f5f5;
    line-height: 70px;
    margin-left: 5%;
    text-decoration: none;
}

nav ul {
    display: inline-block;
    float: right;
}

nav ul li {
    margin-right: 25px;
    line-height: 40px;
    float: left;
}

nav ul li a {
    color: #ffffff;
}

/*---------------------------------------------------------------jianJie部分----------------------------------*/
.jianJie section {
    text-align: center;
}

.jianJie section h3{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.jianJie section img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.jianJie section p {
    margin: 30px 20%;
    color: #787978;
    font-size: 14px;
    text-align: center;
}

.jianJie section p a {
    color: #2a6496;
}

/*-------------------------------------------------------------------求职意向模快------------------------*/

.qzyx {
    /*设置背景图片固定不动*/
    background: url("../Images/suolong.jpg") no-repeat fixed;
    background-size: 100%;
    text-align: center;
}

.qzyx h3 {
    font-size: 30px;
    color: #2c3e50;
    font-weight: 300;
    line-height: 30px;
    padding: 150px 0 0;
}

.qzyxFiex {
    margin: 0 auto;
    padding-bottom: 180px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.qzyxFiex img {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.qzyxFiex div {
    width: 25%;
}

.qzyxFiex span {
    display: block;
    margin: 32px 0 16px;
}

.qzyxFiex p {
    font-size: 14px;
    margin: 0 0 10px;
}

/*---------------------------------------------作品集模块-------------------------------------------*/

.zuoPinJi {
    width: 90%;
    margin: auto;
    text-align: center;
    height: 980px;
}
.zuoPinJi > P{
    color: #787978;
    margin-bottom: 60px;
    font-size: 14px;
}
.zuoPinJi > h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 130px 0 0;
    line-height: 50px;
    margin: 0;
    color: #2c3e50;
}
.zuoPinJi hr{
    margin-bottom: 30px;
}
.zuoPinJi > div {
    display: inline-block;
    width: 265px;
    height: 265px;
    margin: 10px 10px;
    position: relative;
}
/*------------图片与背景图放大动画延迟--------*/

.zuoPinJi > div > img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    transition: all 0.3s;

}


/*---------------将图片放大1.05倍-定义houver后的样式-------------*/

.zuoPinJi > div:hover > img{
    transform: scale(1.05);
}

.zuoPinJi > div:hover div{
    display: block;
}

.zuoPinJi > div:hover > div{
    opacity: 0.7;
    transform: scale(1.05);

}

/*--------------定义:hover前样式 改变透明度------------*/
.zuoPinJi > div div{
    color: #ffffff;
    position: absolute;
    width: 265px;
    height: 265px;
    top: 0;
    left: 0;
}

.zuoPinJi > div > div{
    transition: all 0.3s;
    background-color: #000;
    opacity: 0;

}
.zuoPinJi div a div{
    display: none;
}

/*--------------hover状态下的文字样式----------*/

.zuoPinJi h4{
    font-size: 16px;
    font-weight: 400;
    margin: 30% auto 15px;
}
.zuoPinJi div p{
    font-size: 14px;
    font-weight: 400;
    margin: 10px 30px;
}
.zuoPinJi div a div img{
    width: 25px;
    height: 25px;
}