/*------------------------------------------------公共class---------------------------------------*/

body {
    font-family: "Microsoft Yahei";
    margin: 0;

}

a {
    text-decoration: none;
    color: #000000;
}

ul li {
    list-style: none;
}
hr{
    background-color: #E87E04;
    border: none;
    margin: 0 auto 80px;
    width: 70px;
    height: 5px;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    padding: 130px 0 10px;
    line-height: 50px;
    margin: 0;
    color: #2c3e50;
}

/*--------------------------------------------------------------content部分CSS------------------------*/

.content {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/*.section公共CSS*/
.section {
    width: 100%;
    min-height: 500px;
    height: 100vh;
}

/*---------------------------------------------------header------------------------------------*/
header {
    color: #2c3e50;
    background-size: cover;
    width: 100vh;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;

}

header > div {
    width: 100%;
    height: 100vh;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    background: url("../Images/intro-bg.jpg") 100% 100% no-repeat;

    z-index: -1;
    -webkit-animation: all .5s;
    -o-animation: all .5s;
    animation: myfirst 2s infinite alternate;
}

/*名字叫myfirst的动画效果，主要是进行header的背景图渐变*/

@keyframes myfirst {
    from {
        opacity: 0.4;
        background: url("../Images/intro-bg.jpg") no-repeat;
        background-size: 100%;
    }
    to {
        opacity: 0.7;
        background: url("../Images/intro-bg1.jpg") no-repeat;
        background-size: 100%;

    }
}

header h1 {
    font-family: cursive, 'Lato', sans-serif;
    font-size: 70px;
    font-weight: 300;
    padding: 30vh 0 0;
    animation: headerAnimationH1 .8s;
}

header h2 {
    font-weight: 100;
    margin-bottom: 40px;
    animation: headerAnimationH2 backwards .8s .8s;
}

header > a {
    background-color: #fff;
    color: #000000;
    display: inline-block;
    font-weight: 500;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #333333;
    line-height: 50px;
    margin: 0 10px;
    animation: headerAnimationA backwards .8s 1.6s;
}

header a.gyw {
    background-color: #2c3e50;
    color: #ffffff;
    border-color: #cccccc;
}

/*----------------nav-------------------*/

nav {
    width: 100%;
    height: 70px;
    background-color: #2c3e50;
}
.nav{
    position: fixed;
    top:0;
}

nav > a {
    display: inline-block;
    height: 70px;
    color: #f5f5f5;
    line-height: 70px;
    margin-left: 5%;
    text-decoration: none;
}

nav ul {
    display: inline-block;
    float: right;
}

nav ul li {
    margin-right: 25px;
    line-height: 40px;
    float: left;
    color: #ffffff;
}

nav ul li a {
    color: #ffffff;
}

.liColor{
    color: #985f0d;
}

/*---------------------------------------------------------------简介部分----------------------------------*/

.jianJie section {
    text-align: center;
}

.jianJie section img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.jianJie section p {
    margin: 30px 20%;
    color: #787978;
    font-size: 14px;
    text-align: center;
}

.jianJie section p a {
    color: #2a6496;
}

/*-------------------------------------------------------------------求职意向模快------------------------*/

.qzyx , .jiNeng {
    /*---------------设置背景图片固定不动, 求职意向和技能掌握的背景图----*/

    background: url("../Images/skills-bg.jpg") no-repeat fixed;
    background-size: 100%;
    text-align: center;
}

.qzyxFiex {
    margin: 0 auto;
    padding-bottom: 180px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.qzyxFiex img {
    width: 80px;
    height: 80px;
}

.qzyxFiex div {
    width: 25%;
}

.qzyxFiex span {
    display: block;
    margin: 32px 0 16px;
}

.qzyxFiex p {
    font-size: 14px;
    margin: 0 0 10px;
}

/*---------------------------------------------作品集模块-------------------------------------------*/

.zuoPinJi {
    width: 90%;
    margin: auto;
    text-align: center;
    height: 980px;
}
.zuoPinJi > P{
    color: #787978;
    margin-bottom: 60px;
    font-size: 14px;
}

.zuoPinJi hr{
    margin-bottom: 30px;
}
.zuoPinJi > div {
    display: inline-block;
    width: 265px;
    height: 265px;
    margin: 10px 10px;
    position: relative;
}
/*------------图片与背景图放大动画延迟--------*/

.zuoPinJi > div > img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    transition: all 0.3s;

}


/*---------------将图片放大1.05倍-定义houver后的样式-------------*/

.zuoPinJi > div:hover > img{
    transform: scale(1.05);
}

.zuoPinJi > div:hover div{
    display: block;
}

.zuoPinJi > div:hover > div{
    opacity: 0.7;
    transform: scale(1.05);

}

/*--------------定义:hover前样式 改变透明度------------*/
.zuoPinJi > div div{
    color: #ffffff;
    position: absolute;
    width: 265px;
    height: 265px;
    top: 0;
    left: 0;
}

.zuoPinJi > div > div{
    transition: all 0.3s;
    background-color: #000;
    opacity: 0;

}
.zuoPinJi div a div{
    display: none;
}

/*--------------hover状态下的文字样式----------*/

.zuoPinJi h4{
    font-size: 16px;
    font-weight: 400;
    margin: 30% auto 15px;
}
.zuoPinJi div p{
    font-size: 14px;
    font-weight: 400;
    margin: 10px 30px;
}
.zuoPinJi div a div img{
    width: 25px;
    height: 25px;
}
/*-------------------------------------------技能掌握部分---------------------------------*/
.jiNeng {
    display: block;
    width: 100%;
    height: 600px;
    text-align: center;
}
.jiNeng hr{
    margin: 0 auto;
}
.zhangWo{
    position: relative;
    float: left;
    width: 25%;
    height: 270px;
}
.zhangWo > div{
    width: 300px;
    height: 230px;
}
.bg1, .bg2 , .bgLeft , .bgRight, .zhangWo div p{
    position: absolute;
    top: 50%;
    left: 50%;
}
.bgLeft, .bgRight {
    width: 140px;
    height: 140px;
    margin: -80px 0 0 -80px;
    border-radius: 80px;
    transform: rotate(-125deg);
    border: 10px solid #2c3e50;
    clip: rect(78px 120px 200px 0px);
}

.bgRight{
    transform: rotate(180deg);
    clip: rect(0 80px 160px 0);
}

.bg2{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background: #cccccc;
    margin: -80px 0 0 -80px;
}
.bg1{
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background: #ffffff;
    margin: -70px 0 0 -70px;
    z-index: 1;

}
.zhangWo div p{
    text-align: center;
    font-size: 30px;
    width: 60px;
    overflow: hidden;
    z-index: 2;
    color: #2c3e50;
    line-height: 30px;
    margin: -15px 0 0 -30px;
}
.zhangWo > p{
    font-size: 16px;
    color: #E87E04;
    margin: 20px auto;
}